name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_PREFIX: bread-sshd

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Detect Dockerfile changes
        id: dockerfiles
        uses: dorny/paths-filter@v3
        with:
          filters: |
            dockerfiles:
              - 'images/**'
        
      - name: Set var
        id: setvar
        run: |
          if [ "${{ steps.dockerfiles.outputs.dockerfiles }}" = "true" ] || [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "build=true" >> $GITHUB_OUTPUT
          else
            echo "build=false" >> $GITHUB_OUTPUT
          fi

      - name: Log in to GitHub Container Registry
        if: steps.setvar.outputs.build
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        if: steps.setvar.outputs.build
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        if: steps.setvar.outputs.build
        uses: docker/setup-buildx-action@v3

      - name: Build and push noble image
        if: steps.setvar.outputs.build
        uses: docker/build-push-action@v4
        with:
          platforms: linux/amd64,linux/arm64
          context: .
          file: images/Dockerfile.sshd-noble
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_PREFIX }}-noble:latest
          cache-from: type=gha,scope=spread-bread-sshd-noble
          cache-to: type=gha,mode=max,scope=spread-bread-sshd-noble
          push: true
          build-args: |
            BUILD_DATE=${{ github.event.workflow_run.created_at }}
            COMMIT_SHA=${{ github.sha }}
            REPOSITORY=${{ github.repository }}
    
      - name: Build and push plucky image
        if: steps.setvar.outputs.build
        uses: docker/build-push-action@v4
        with:
          platforms: linux/amd64,linux/arm64
          context: .
          file: images/Dockerfile.sshd-plucky
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_PREFIX }}-plucky:latest
          push: true
        



#   publish-images:
#     name: Publish images
#     runs-on: ubuntu-24.04
#     strategy:
#       matrix:
#         flavour: [plucky, noble]
#         arch: [amd64, arm64]

#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v4
#         with:
#           fetch-depth: 0

#       - name: Detect Dockerfile changes
#         id: dockerfiles
#         uses: dorny/paths-filter@v3
#         with:
#           filters: |
#             dockerfiles:
#               - 'images/**'
        
#       - name: Set var
#         id: setvar
#         run: |
#           if [ "${{ steps.dockerfiles.outputs.dockerfiles }}" = "true" ] || [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
#             echo "build=true" >> $GITHUB_OUTPUT
#           else
#             echo "build=false" >> $GITHUB_OUTPUT
#           fi

#       - uses: docker/setup-qemu-action@v3
#         if: steps.setvar.outputs.build

#       - uses: docker/setup-buildx-action@v3
#         if: steps.setvar.outputs.build

#       - uses: docker/login-action@v2
#         if: steps.setvar.outputs.build
#         with:
#           registry: ghcr.io
#           username: ${{ github.repository_owner }}
#           password: ${{ secrets.GITHUB_TOKEN }}

#       - uses: docker/build-push-action@v4
#         if: steps.setvar.outputs.build
#         with:
#           context: .
#           file: images/Dockerfile.sshd-${{ matrix.flavour }}
#           platforms: linux/${{ matrix.arch }}
#           push: true
#           tags: ghcr.io/${{ github.repository_owner }}/bread-sshd-${{ matrix.flavour }}-${{ matrix.arch }}:latest
#           cache-from: type=gha,scope=spread-bread-sshd-${{ matrix.flavour }}-${{ matrix.arch }}
#           cache-to: type=gha,mode=max,scope=spread-bread-sshd-${{ matrix.flavour }}-${{ matrix.arch }}

#   spread:
#     name: Run spread
#     needs: publish-images
#     runs-on: ubuntu-24.04

#     steps:
#       - uses: actions/checkout@v4
#         with:
#           fetch-depth: 0
      
#       - name: Fetch images
#         run: |
#           docker pull ghcr.io/${{ github.repository_owner }}/bread-sshd-plucky-amd64:latest || true
#           docker pull ghcr.io/${{ github.repository_owner }}/bread-sshd-plucky-arm64:latest || true
#           docker pull ghcr.io/${{ github.repository_owner }}/bread-sshd-noble-amd64:latest || true
#           docker pull ghcr.io/${{ github.repository_owner }}/bread-sshd-noble-arm64:latest || true

#       - uses: actions/setup-go@v3
#         with:
#           go-version: '>=1.17.0'

#       - name: Build spread
#         run: |
#           git clone --depth 1 --branch master https://github.com/canonical/spread _spread
#           (cd _spread && go build -o spread ./cmd/spread)
#           ln -sf $GITHUB_WORKSPACE/_spread/spread $GITHUB_WORKSPACE/spread
#           echo "$GITHUB_WORKSPACE" >> $GITHUB_PATH

#       - name: Build images and run spread
#         env:
#           SKIP_IMAGE_BUILD: 1
#         run: make run